<style>
.label{
    display: inline-block;
    width: 38%;
    float: left;
    text-align: right;
}
.info{
    width: 60%;
    float: left;
    text-align: left;
}
</style>

<table>
    <tr>
        <th colspan="3">工程详细资料</th>
    </tr>
    <tr>
        <td>
            <div class="label">工程名称：</div>
            <div class="info">工程名称01</div>
        </td>
        <td>
            <div class="label">合同编号：</div>
            <div class="info">123456789</div>
        </td>
        <td>
            <div class="label">合同名称：</div>
            <div class="info">合同名称01</div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="label">合同金额：</div>
            <div class="info">12,000</div>
        </td>
        <td>
            <div class="label">委托单位：</div>
            <div class="info">武汉XX有限公司</div>
        </td>
        <td>
            <div class="label">委托人：</div>
            <div class="info">李四</div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="label">电话：</div>
            <div class="info">15239858852</div>
        </td>
        <td>
            <div class="label">项目地址：</div>
            <div class="info">项目地址01</div>
        </td>
        <td>
            <div class="label">公司代表：</div>
            <div class="info">李四</div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="label">签订日期：</div>
            <div class="info">2015/06/23</div>
        </td>
        <td>
            <div class="label">开工时间：</div>
            <div class="info">2015/06/23</div>
        </td>
        <td>
            <div class="label">完工时间：</div>
            <div class="info">2015/06/23</div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="label">项目负责人：</div>
            <div class="info">李四</div>
        </td>
        <td>
            <div class="label">工程类型：</div>
            <div class="info">基坑监测</div>
        </td>
        <td>
            <div class="label">检测设备：</div>
            <div class="info">设备01</div>
        </td>
    </tr>
</table>

<button class="normal" type="button"><a href="/project/view">返回</a></button>
