<style>

table{
    margin-top: 40px;
}
</style>


<div class="handle">
    <div class="filter">
        筛选：
        <select>
            <option value="">时间</option>
            <option value="">金额</option>
            <option value="">负责人</option>
            <option value="">委托单位</option>
            <option value="">工程类型</option>
        </select>
        <input type="text" name="" value="">
        <button type="button">确定</button>
    </div>
    <div class="sort">
        排序：
        <select>
            <option value="">时间</option>
            <option value="">金额</option>
        </select>
        <select name="" id="">
            <option value="">从高到底</option>
            <option value="">从底到高</option>
        </select>
        <button type="button">确定</button>
    </div>
</div>

<table>
    <thead>
        <tr>
            <th>工程序号</th>
            <th>工程名称</th>
            <th>负责人</th>
            <th>时间</th>
            <th>金额</th>
            <th>工程类型</th>
            <th>委托单位</th>
            <th>详细信息</th>
            <th>工程合同</th>
            <th colspan="2">操作</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>岩土检测</td>
            <td>张三</td>
            <td>2017/11/11</td>
            <td>123,560</td>
            <td>基坑监测</td>
            <td>武汉XX有限公司</td>
            <td><a href="/project/detail">查看</a></td>
            <td><a href="">查看</a></td>
            <td><a href="/project/edit">修改</a></td>
            <td><a href="/project/apply">删除</a></td>
        </tr>
        <tr>
            <td>2</td>
            <td>岩土检测</td>
            <td>张三</td>
            <td>2017/11/11</td>
            <td>123,560</td>
            <td>基坑监测</td>
            <td>武汉XX有限公司</td>
            <td><a href="/project/detail">查看</a></td>
            <td><a href="">查看</a></td>
            <td><a href="/project/edit">修改</a></td>
            <td><a href="/project/apply">删除</a></td>
        </tr>
    </tbody>
</table>
