
<style>
.ann-info{
    margin: 5px;
    text-align: center;
}
.ann-info span{
    margin-right: 50px;
}
p{
    text-indent: 2em;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 5px;
}
</style>
<h2>习近平寄语新闻界</h2>


<div class="ann-info">
    <span>发布人：李四</span><span>发布时间：2017-2-20 19:33</span><span>相关部门：全公司</span>
</div>

<p>
央视网消息：习近平总书记说，“党的新闻舆论工作是党的一项重要工作，是治国理政、定国安邦的大事”。他非常关心新闻工作者，在人民日报社、新华社、中央电视台、解放军报社等媒体调研视察时，与新闻工作者深入交流。</p><p>

时值习近平总书记党的新闻舆论工作座谈会重要讲话发表一周年之际，中央电视台制作了微视频《习近平寄语新闻界》，梳理了习近平和一线编辑记者互动交流的一个个难忘瞬间，浓缩着习近平对广大新闻工作者的关爱和期待。</p><p>

2016年2月19日上午，习近平先后来到人民日报社、新华社、中央电视台三家中央媒体调研。在人民日报社，习近平观看报刊展板。

在人民日报社，习近平与一线编辑记者亲切交流。

在新华社新闻信息发稿中心，习近平通过视频和正在河南兰考县采访的新华社记者连线。

在新华社新闻信息发稿中心，习近平通过手机移动平台为新闻工作者点赞。</p>

<button class="normal" type="button"><a href="/announcement/view">返回</a></button>