<style>
    button.w90 {
        width: 90px;
    }
    
    input[type="file"] {
        position: absolute;
        opacity: 0;
    }
</style>

<table>
    <tr>
        <th>公文序号</th>
        <th>文件名称</th>
        <th>下载</th>
    </tr>
    <tr>
        <td>03</td>
        <td>XXXXXXXXXXX文件</td>
        <td><a href="">点击下载</a></td>
    </tr>
    <tr>
        <td>02</td>
        <td>XXXXXXXXXXX文件</td>
        <td><a href="">点击下载</a></td>
    </tr>
    <tr>
        <td>01</td>
        <td>XXXXXXXXXXX文件</td>
        <td><a href="">点击下载</a></td>
    </tr>
</table>

<button class="normal w90" type="button"><input type="file">上传公文</button>