
<style>
    table tr td:nth-child(1) {
        text-align: right;
    }

    table tr td:nth-child(2) {
        text-align: left;
    }
</style>

<table>
    <tr>
        <th colspan="2">发布公告</th>
    </tr>
    <tr>
        <td>公告标题：</td>
        <td>
            <input type="text" name="" value="">
        </td>
    </tr>
    <tr>
        <td>发布者：</td>
        <td>张三</td>
    </tr>
    <tr>
        <td>相关部门：</td>
        <td>
            <select>
                <option value="">全公司</option>
                <option value="">XX部</option>
                <option value="">XX部</option>
                <option value="">XX部</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>
            公告正文：
        </td>
        <td>
            <textarea rows="28" cols="115"></textarea>
        </td>
    </tr>
</table>

<button class="normal" type="button"><a href="/announcement/view">发布</a></button>

