
<style>
    .handle {
        margin-top: 20px;
    }

    table {
        margin-top: 60px;
    }
</style>


<h2>武汉中科科创工程检测公司 - 公告</h2>

<div class="handle">
    <div class="filter">
        筛选：
        <select>
            <option value="">部门</option>
            <option value="">标题关键词</option>
        </select>
        <input type="text" name="" value="">
        <button type="button">确定</button>
    </div>
    <div class="sort">
        排序：
        <select name="" id="">
            <option value="">时间由远到近</option>
            <option value="">时间由近到远</option>
        </select>
        <button type="button">确定</button>
    </div>
</div>

<table>
    <tr>
        <th>公告序号</th>
        <th>公告标题</th>
        <th>发布时间</th>
        <th>相关部门</th>
        <th>发布人</th>
    </tr>
    <tr>
        <td>03</td>
        <td><a href="/announcement/detail">关于XXXXXXXXX的通知</a></td>
        <td>2017/01/25</td>
        <td>全公司</td>
        <td>管理员</td>
    </tr>
    <tr>
        <td>02</td>
        <td><a href="/announcement/detail">关于XXXXXXXXX的通知</a></td>
        <td>2017/01/20</td>
        <td>XX部</td>
        <td>张三</td>
    </tr>
    <tr>
        <td>01</td>
        <td><a href="/announcement/detail">关于XXXXXXXXX的通知</a></td>
        <td>2017/01/15</td>
        <td>XXX部</td>
        <td>李四</td>
    </tr>
</table>
