<form method="post">
    <table>
        <tr>
            <th colspan="2">添加新员工</th>
        </tr>
        <tr>
            <td>
                <label for="name">姓名：</label>
                <input type="text" name="name" value="">
            </td>
            <td>
                <label for="department">部门：</label>
                <select name="department">
                <option value="1bu">XX部</option>
                <option value="2bu">XX部</option>
                <option value="3bu">XX部</option>
            </select>
            </td>
        </tr>
        <tr>
            <td>
                <label for="job">职务：</label>
                <input type="text" name="job" value="">
            </td>
            <td>
                <label for="induction_time">入职时间：</label>
                <input type="date" name="induction_time" value="">
            </td>
        </tr>
        <tr>
            <td>
                <label for="staff_num">职工编号：</label>
                <input type="text" name="staff_num" value="">
            </td>
            <td>
                <label for="user_name">登录名：</label>
                <input type="text" name="user_name" value="">
            </td>
        </tr>
        <tr>
            <td>
                <label for="password">密码：</label>
                <input type="text" name="password" value="">
            </td>
            <td>
                <!--<label for="password">重复密码</label>
                <input type="text" name="password" value="">-->
            </td>
        </tr>
        <tr>
            <td>
                <label for="permission">系统权限：</label>
                <select name="permission">
                <option value="0">普通职工</option>
                <option value="1">部门主任</option>
                <option value="2">公司领导</option>
                <option value="3">系统管理员</option>
            </select>
            </td>
            <td></td>
        </tr>
    </table>

    <button type="submit" class="normal">添加</button>
</form>