<style>
    form {
        width: 400px;
        height: 200px;
        margin: 0 auto;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
    .input-area {
        width: 300px;
        margin: 0 auto;
    }
    
    label {
        display: inline-block;
        width: 100px;
        text-align: right;
        font-size: 18px;
        line-height: 18px;
    }
    
    span.input {
        display: inline-block;
        width: 195px;
        border: 1px solid #bbb;
        border-radius: 5px;
        margin: 8px 0;
        padding: 3px 8px;
        background: #fff;
    }
    input{
        width: 180px;
        border:none;
        outline: none;
        font-size: 18px;
        line-height: 18px;
    }
</style>


<h2>修改员工密码</h2>

<form>
    <div class="input-area">
        <label for="">登录名：</label>
        <span class="input"><input type="password" name="" value=""></span>
    </div>
    <div class="input-area">
        <label for="">新密码：</label>
        <span class="input"><input type="password" name="" value=""></span>
    </div>
    <div class="input-area">
        <label for="">重复密码：</label>
        <span class="input"><input type="password" name="" value=""></span>
    </div>
</form>

<button type="button" class="normal"><a href="/project/view">确定</a></button>
