<style>
table{
    margin-top: 20px;
}
</style>


<h2>用户管理</h2>

<table>
    <tr>
        <th>职工编号</th>
        <th>姓名</th>
        <th>部门</th>
        <th>职务</th>
        <th>登录名</th>
        <th>密码</th>
        <th>系统权限</th>
        <th colspan="2">操作</th>
    </tr>
    <tr>
        <td>10232</td>
        <td>李四</td>
        <td>XX部</td>
        <td>主任</td>
        <td>lisi</td>
        <td>lisi</td>
        <td>部门主任</td>
        <td><a href="">编辑</a></td>
        <td><a href="">删除</a></td>
    </tr>
    <tr>
        <td>10233</td>
        <td>王五</td>
        <td>XX部</td>
        <td>职工</td>
        <td>wangwu</td>
        <td>wangwu</td>
        <td>普通职工</td>
        <td><a href="">编辑</a></td>
        <td><a href="">删除</a></td>
    </tr>
</table>

<button type="button" class="normal w100"><a href="/user/add_staff">添加新员工</a></button>
