<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> - 武汉中科科创工程检测有限公司</title>
    <link rel='stylesheet' href='/stylesheets/login.css' />
  </head>
  <body>
    <div class="login-con">
        <div class="login-header">武汉中科科创工程检测有限公司办公管理系统</div>
        <form class="login-main" action="">
            <div class="input-area">
                <label for="name">用户名：</label>
                <div class="input">
                    <input type="text" id="name" />
                </div>
            </div>
            <div class="input-area">
                <label for="key">密码：</label>
                <div class="input">
                    <input type="password" id="key" />
                </div>
            </div>
            <button type="button"><a href="/announcement/view">登录</a></button>
        </form>
    </div>
  </body>
</html>
