<style>
.w112{
    width: 112px;
}
textarea{
    width: 87%;
}
</style>


<table>
    <tr>
        <th colspan="3">设备领用登记</th>
    </tr>
    <tr>
        <td>
            <label for="">设备名称：</label>
            <input type="text">
        </td>
        <td>
            <label for="">设备型号：</label>
            <input type="text">
        </td>
        <td>
            <label for="">购买价格：</label>
            <input type="text">
        </td>
    </tr>
    <tr>
        <td>
            <label for="">购买日期：</label>
            <input type="text">
        </td>
        <td>
            <label for="">计量有效期：</label>
            <input type="text">
        </td>
        <td>
            <label for="">领取时间：</label>
            <input type="text">
        </td>
    </tr>
    <tr>
        <td>
            <label for="">领用部门：</label>
            <select>
                <option value="">XX部</option>
                <option value="">XX部</option>
                <option value="">XX部</option>
                <option value="">XX部</option>
            </select>
        </td>
        <td>
            <label for="">领用人：</label>
            <input type="text">
        </td>
        <td>
            <label for="">归还时间：</label>
            <input type="date">
        </td>
    </tr>
    <tr>
        <td>
            <label for="">挂靠项目：</label>
            <input type="text">
        </td>
        <td>
        </td>
        <td>
        </td>
    </tr>
    <tr>
        <td colspan="3">
            <label for="" class="w112">使用说明：</label>
            <textarea name="" id="" cols="30" rows="10"></textarea>
        </td>
    </tr>
</table>


<button type="button" class="normal w90"><a href="/equipment/apply">提交申请</a></button>





<!--
<form>
    <div class="input-area">
        <label for="">设备名称</label>
        <input type="text" name="" value="">
    </div>
    <div class="input-area">
        <label for="">设备型号</label>
        <input type="text" name="" value="">
    </div>
    <div class="input-area">
        <label for="">购买价格</label>
        <input type="text" name="" value="">
    </div>
    <div class="input-area">
        <label for="">购买日期</label>
        <input type="text" name="" value="">
    </div>
    <div class="input-area">
        <label for="">计量有效期</label>
        <input type="text" name="" value="">
    </div>
    <div class="input-area">
        <label for="">领用部门</label>
        <input type="text" name="" value="">
    </div>
    <div class="input-area">
        <label for="">领用人</label>
        <input type="text" name="" value="">
    </div>
    <div class="input-area">
        <label for="">领取时间</label>
        <input type="text" name="" value="">
    </div>
    <div class="input-area">
        <label for="">使用周期</label>
        <input type="text" name="" value="">
    </div>
    <div class="input-area">
        <label for="">挂靠项目</label>
        <input type="text" name="" value="">
    </div>
    <div class="input-area">
        <label for="">使用维修说明</label>
        <input type="text" name="" value="">
    </div>

    <button type="button"><a href="">提交申请</a></button>
</form>
-->