<style>

.handle{
    margin-top: 20px;
}
table{
    margin-top: 60px;
}
</style>

<div class="handle">
    <div class="filter">
        筛选：
        <select>
            <option value="">部门</option>
            <option value="">姓名</option>
            <option value="">职工编号</option>
        </select>
        <input type="text" name="" value="">
        <button type="button">确定</button>
    </div>
    <div class="sort">
        排序：
        <select>
            <option value="">部门</option>
            <option value="">职工编号</option>
        </select>
        <select name="" id="">
            <option value="">从高到底</option>
            <option value="">从底到高</option>
        </select>
        <button type="button">确定</button>
    </div>
</div>

<table>
    <tr>
        <th>职工编号</th>
        <th>姓名</th>
        <th>部门</th>
        <th>联系电话</th>
        <th>电子邮箱</th>
    </tr>
    <tr>
        <td>10998</td>
        <td>张三</td>
        <td>XX部</td>
        <td>15369874562</td>
        <td>zhangsan@163.com</td>
    </tr>
    <tr>
        <td>10999</td>
        <td>李四</td>
        <td>XX部</td>
        <td>16358745962</td>
        <td>77889545@qq.com</td>
    </tr>
</table>