
<table>
    <tr class="thead">
        <td colspan="3">
            个人资料输入
        </td>
    </tr>
    <tr>
        <td>
            <label for="">职工名称：</label>
            <input type="text" name="" value="">
        </td>
        <td>
            <label for="">职工编号：</label>
            <input type="number" name="" value="">
        </td>
        <td>
            <label for="">入职时间：</label>
            <input type="date" name="" value="">
        </td>
    </tr>
    <tr>
        <td>
            <label for="">职务：</label>
            <input type="text" name="" value="">
        </td>
        <td>
            <label for="">所属部门：</label>
            <select>
                <option value="">XX部</option>
                <option value="">XX部</option>
                <option value="">XX部</option>
                <option value="">XX部</option>
            </select>
        </td>
        <td>
            <label for="">手机号码：</label>
            <input type="tel" name="" value="">
        </td>
    </tr>
    <tr>
        <td>
            <label for="">邮箱地址：</label>
            <input type="emailproject" name="" value="">
        </td>
        <td>
            <label for="">办公电话：</label>
            <input type="text" name="" value="">
        </td>
        <td>
            <label for="">家庭住址：</label>
            <input type="text" name="" value="">
        </td>
    </tr>
    <tr>
        <td>
            <label for="">家庭电话：</label>
            <input type="text" name="" value="">
        </td>
        <td>
            <label for="">上传照片：</label>
            <input type="file" name="" value="">
        </td>
        <td>
            <label for="">上传学历证书：</label>
            <input type="file" name="" value="">
        </td>
    </tr>
    <tr>
        <td>
            <label for="">上传职称证书：</label>
            <input type="file" name="" value="">
        </td>
        <td>
            <label for="">上传资格证书：</label>
            <input type="file" name="" value="">
        </td>
        <td></td>
    </tr>
</table>

<button type="button" class="normal"><a href="/member/view">完成</a></button>
