<style>
    table {
        margin-top: 40px;
    }
</style>

<div class="handle">
    <div class="filter">
        筛选：
        <select>
            <option value="">姓名</option>
            <option value="">部门</option>
            <option value="">职务</option>
        </select>
        <input type="text" name="" value="">
        <button type="button">确定</button>
    </div>
    <div class="sort">
        排序：
        <select>
            <option value="">部门</option>
            <option value="">职务</option>
        </select>
        <select name="" id="">
            <option value="">从高到底</option>
            <option value="">从底到高</option>
        </select>
        <button type="button">确定</button>
    </div>
</div>

<table>
    <thead>
        <tr>
            <th>职工编号</th>
            <th>姓名</th>
            <th>部门</th>
            <th>职务</th>
            <th>学历证书</th>
            <th>职称证书</th>
            <th>资格证书</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>10232</td>
            <td>李四</td>
            <td>工程部</td>
            <td>主任</td>
            <td><a href="">查看</a></td>
            <td><a href="">查看</a></td>
            <td><a href="">查看</a></td>
        </tr>
        <tr>
            <td>10233</td>
            <td>王五</td>
            <td>项目部</td>
            <td>领导</td>
            <td><a href="">查看</a></td>
            <td><a href="">查看</a></td>
            <td><a href="">查看</a></td>
        </tr>
    </tbody>
</table>